@page "/"

@rendermode InteractiveServer
<PageTitle>Profil</PageTitle>


@if(activateInspector)
{
    <InspectDriverComp CloseInspectorEvent="CloseInspector" WriteRatingEvent="GoToWriteRating" User="clickedDriver" AverageRating="averageRating" />
}

<div class="container">
    @if (user != null)
    {
        <div class="header">
            <h2 class="header-text">Hej @user.UserInfo.Name <img @onclick="GoToEditUser" src="images/RewriteIcon.png" class="rewrite-icon"/></h2>
            <a @onclick="GoToWatchRatings">Se dine anmeldelser her</a>
        </div>
        <div class="order-container">
            <div class="info-text">
                <h3>Dine aktive ordrer</h3>
                <span @onclick="GoToCreate" class="add-btn">+</span>
            </div>
            @if (activeOrders != null && activeOrders.Count != 0)
            {
                @for (int i = 0; i < activeOrders.Count; i++)
                {
                    <div class="foreground">
                        <div class="image-container">
                            <img src="@activeOrders[i].ImageUrl" />
                        </div>
                        <div class="left-info-container">
                            <div class="top-container">
                                <p>@activeOrders[i].Description</p>
                            </div>
                            <div class="bottom-container">
                                <p>Fra @activeOrders[i].Address</p>
                                <p>Til @activeOrders[i].Destination</p>
                                <p>Leverings dato: @activeOrders[i].ExpirationDate.ToString("dd/MM/yyyy")</p>
                            </div>
                        </div>
                        <div class="right-info-container">
                            @if (activeOrders[i].Driver != null)
                            {
                                int driverId = (int)activeOrders[i].DriverId;
                                <p>Ordre taget af 
                                    <span class="clickable-span" @onclick="() => InspectDriverAsync(driverId)">
                                        @activeOrders[i].Driver.UserInfo.Name
                                    </span>
                                </p>
                                <p>for @(activeOrders[i].Price) kr.- </p>
                            }
                            else
                            {
                                <div class="top-container">
                                    <p>Ingen har taget imod ordren endnu</p>
                                    <p>for @(activeOrders[i].Price) kr.- </p>
                                </div>
                                <div class="bottom-container">
                                    @{
                                        int orderId = activeOrders[i].Id;
                                    }
                                    <button class="btn" @onclick="() => GoToUpdate(orderId)">Redigere ordre</button>
                                </div>
                            }
                        </div>
                    </div>
                }
            }
            else
            {
                <h6>Du har ikke noget aktive ordre</h6>
            }
        </div>
    }
</div>